/* Zoom fuerte presente en imágenes Modal*/
@keyframes zoom {
  from {transform:scale(0.8); opacity: 0%;}
  to {transform:scale(1); opacity: 100%}
}

/* Animación de 'hover' en dropdown de puzzles */
@keyframes dropdown-hover {
  from {transform:scale(1); background-color: rgb(146, 52, 99);}
  to {transform:scale(1.05); background-color: #ffd5f6; color: #6f5471}
}
@keyframes dropdown-hover-out {
  from {transform:scale(1.05); background-color: #ffd5f6; color: #6f5471}
  to {transform:scale(1); background-color: rgb(146, 52, 99);}
}

/* Animaciones pensadas para los elementos del banner */
@keyframes cambia_color {
  from{ color: #7b517c; text-shadow: 0 0 0 rgb(146, 52, 99);}
  to{ color: hotpink; text-shadow: 10px 5px 5px rgb(146, 52, 99); -webkit-text-stroke: 0.5px rgb(201, 83, 142)}
}
@keyframes cambia_color_out {
  from{ color: hotpink; text-shadow: 10px 5px 5px rgb(146, 52, 99); -webkit-text-stroke: 0.5px rgb(201, 83, 142)}
  to{color: #7b517c; text-shadow: 0 0 0 rgb(146, 52, 99);}
}

/* Animaciones para elementos de caja a los que la animacion anterior no aplica al no ser svg*/
@keyframes cambia_color_box {
  from{ color: #7b517c; box-shadow: 0 0 0 rgb(146, 52, 99)}
  to{ color: hotpink; box-shadow: 15px 5px 10px rgb(146, 52, 99)}
}
@keyframes cambia_color_out_box {
  from{ color: hotpink; box-shadow: 15px 5px 10px rgb(146, 52, 99)}
  to{color: #7b517c; box-shadow: 0 0 0 rgb(146, 52, 99);}
}

/* Animaciones multiuso para agrandar un poco un objeto cuando el ratón pasa por encima */
@keyframes general_hover_zoom {
  from {transform:scale(1)}
  to {transform:scale(1.2)}
}
@keyframes general_hover_zoomout {
  from {transform:scale(1.2)}
  to {transform:scale(1)}
}

/* Animaciones para el Dialog */
@keyframes dialog_aparece {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

/* Animación en bucle para el dropdown */
@keyframes parpadeo_tamaño {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Zoom + cambio de color */
.animacion_zoom_color{
  transition: transform .2s; /* Animation */
  text-shadow: 0 0 0 rgb(146, 52, 99);
  animation-name: cambia_color_out;
  animation-duration: 200ms;
}

.animacion_zoom_color:hover{
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25); 
  animation-name: cambia_color;
  animation-duration: 200ms;
  animation-fill-mode: both;
}

.animacion_zoom_color_imgs{
  transition: transform .2s; /* Animation */
  text-shadow: 0 0 0 rgb(146, 52, 99);
  animation-name: cambia_color_out_box;
  animation-duration: 200ms;
}

.animacion_zoom_color_imgs:hover{
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25); 
  animation-name: cambia_color_box;
  animation-duration: 200ms;
  animation-fill-mode: both;
}

