
/* Permite scroll */
html { overflow-y: scroll;}


.pie_de_pagina{
  left: 0;
  bottom: 0;
  width: 90%;
  background-color: white;
  color: black;
  margin: 30px;
}


.divisor_imagenes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 100%;
  margin: 10px;
  padding: 5px;
  background-color: hotpink;
  border-radius: 20px;
}
.divisor_imagenes img {
  margin: 10px;
  border-radius: 20px;
}

/* Opciones para colapso por anchura, imágenes se enseñan en vertical */
@media (max-width: 1200px) {
  .divisor_imagenes {
    flex-direction: column;
  }

  /* Rotar la flecha si colapsa por anchura */
  .divisor_imagenes .flecha { order: 2; transform: rotate(90deg); }
  .divisor_imagenes .imagen-inicial { order: 1; }
  .divisor_imagenes .imagen-final { order: 3; }
}

.redondeado {
  border-radius: 20px;
}

/* Botón "Enviar Mensaje" */
.botonEnviar {
  border: none;
  background-color: transparent;
  outline-color: transparent;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.botonEnviar:after {
  content: "";
  background: hotpink;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.botonEnviar:active:after{
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.circulo-online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  margin-right: 5px;
}


/* Estilos para imágenes modales */
.imagen-inicial {
  cursor: pointer;
  transition: 0.3s;
}

.imagen-final {
  cursor: pointer;
  transition: 0.3s;
}

.imagen-inicial:hover {opacity: 0.7;}
.imagen-final:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Imagen */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Descripción - mismo ancho que la imagen */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Animación de zoom */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* Botón de cerrar */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Pantallas pequeñas */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}