.ocultandose{
  opacity: 0%;
  box-shadow: 0 0 0 rgb(146, 52, 99);
  transition: all 0.3s;
}


.oculto{display: none;}

.dialogo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgb(255, 246, 254);
  color: rgb(146, 52, 99);
  padding: 20px;
  border: 1px solid #ffd5f6;
  box-shadow: 60px 40px 50px rgb(146, 52, 99);
  z-index: 10000; /* Lo pongo muy 'alto' para que esté al frente siempre */
  animation-name: dialog_aparece;
  animation-duration: 0.3s;
}

.dialogo h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
  
#mensaje-dialogo {
  margin-bottom: 20px;
}
  
.dialogo button {
  padding: 5px 10px;
  background-color: hotpink;
  color: #ffd5f6;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  float: right; 
  margin-right: 25px; 
  margin-bottom: 5px;
  animation-name: general_hover_zoomout;
  animation-duration: 0.3s;
}

.dialogo button:hover{
  animation-name: general_hover_zoom;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
