
/* Título de la página */
h1{
  font-size: 75px;
  font-family: 'Times New Roman', Times, serif;
  color: hotpink;
  text-shadow: 3px 4px 5px rgb(146, 52, 99);
}

h2{
  color: #7b647c;
}

h3{
  color: #937a94;
}

h4{
  color: #b196b2;
}

p{
  color: #b196b2;
}

/* Permite scroll */
html { overflow-y: scroll;}

.pie_de_pagina{
  left: 0;
  bottom: 0;
  width: 90%;
  background-color: white;
  color: black;
  margin: 30px;
}

.circulo-online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  margin-right: 5px;
}


.dropdown-toggle{
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s;
  animation-name: dropdown-hover-out;
  animation-duration: 0.3s;
  color: #ffd5f6; 
  background-color: 
  rgb(146, 52, 99); 
  border-color: #ffd5f6;
}

.dropdown-toggle:hover {
  animation-name: dropdown-hover;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

/* Clase general para animar un pequeño zoom al pasar el ratón */
.zoom_on_hover{
  cursor: pointer;
  transition: transform 0.3s;
  animation-name: general_hover_zoomout;
  animation-duration: 0.3s;
}
.zoom_on_hover:hover{
  animation-name: general_hover_zoom;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}