
/* Título de la página */
h1{
  font-size: 75px;
  font-family: 'Times New Roman', Times, serif;
  color: hotpink;
  text-shadow: 3px 4px 5px rgb(146, 52, 99);
}

/* Permite scroll */
html { overflow-y: scroll;}

.pie_de_pagina{
  left: 0;
  bottom: 0;
  width: 90%;
  background-color: white;
  color: black;
  margin: 30px;
}

.circulo-online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  margin-right: 5px;
}


.dropdown-toggle{
  cursor: pointer;
  transition: transform 0.3s;
  animation-name: dropdown-hover-out;
  animation-duration: 0.3s;
  color: #ffd5f6; 
  background-color: 
  rgb(146, 52, 99); 
  border-color: #ffd5f6;
}

.dropdown-toggle:hover {
  animation-name: dropdown-hover;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}